In [1]:
import pandas as pd
from bokeh.plotting import figure, output_file, show

In [2]:
df = pd.read_excel("data/weather-data.xlsx")

df.head()

   Year  Month  Day  Hour  Temperature  Pressure
0  2010     10    6     3          -30      9984
1  2010     10    6     9          -28      9992
2  2010     10    6    10          -24      9987
3  2010     10    6    11          -19      9987
4  2010     10    6    12          -19      9985

In [3]:
df["Temperature"] = df["Temperature"] / 10
df["Pressure"] = df["Pressure"] / 10

In [5]:
p = figure(plot_width=500, plot_height=400, tools='pan')

p.title.text="Temperature and Air Pressure"
p.title.text_color="Gray"
p.title.text_font="arial"
p.title.text_font_style="bold"
p.xaxis.minor_tick_line_color=None
p.yaxis.minor_tick_line_color=None
p.xaxis.axis_label="Temperature (Â°C)"
p.yaxis.axis_label="Pressure (hPa)"

In [6]:
p.circle(df["Temperature"],df["Pressure"],size=0.5)
output_file("Weather.html")
show(p)